@import "src/scss/normalize";

.burger {
  display: none;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    position: fixed;
    height: 50px;
    min-width: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.7;
    border-radius: 100%;
    top: 67px;
    right: 13px;
    z-index: 10;

    &:before {
      content: "";
      left: 50%;
      transform: translateX(-50%);
      width: 33px;
      height: 4px;
      background-color: $black;
      position: absolute;
      transition: all 0.6s ease;
      top: 15px;
    }

    &:after {
      content: "";
      left: 50%;
      transform: translateX(-50%);
      width: 33px;
      height: 4px;
      background-color: $black;
      position: absolute;
      transition: all 0.6s ease;
      bottom: 15px;
    }
  }

  .span {
    width: 33px;
    height: 4px;
    background-color: $black;
    position: absolute;
    top: 23px;
    transition: all 0.6s ease;
    left: 50%;
    transform: translateX(-50%);
  }
}