@import "src/scss/normalize";

.container {
  @include container;
  padding: 100px 0 100px 0;
  text-align: center;
}

.title {
  @include title;
}

.description {
  @include subtitle;
  max-width: 600px;
  margin: 20px auto 0 auto;
}

.elem:not(:last-child) {
  margin-bottom: 45px;
}

@media (max-width: 940px) {
  .container {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
}